{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "node": "current"
            }
        }]
    ],
    "plugins": [
        "@babel/proposal-class-properties",
        ["babel-plugin-root-import", {
                "rootPathSuffix": "./src",
                "rootPathPrefix": "~/"
            }
        ]
    ]
}